USER_ID="<your uuid - only for local db seeding>"
USER_EMAIL="<your email - only for local db seeding>"
APP_NAME="infTeachingApi"
ALLOWED_ORIGINS="gbsl.website"
BETTER_AUTH_SECRET="$(openssl rand -base64 32)"
BETTER_AUTH_URL="http://localhost:3002"
MSAL_CLIENT_ID="<MSAL_CLIENT_ID>"
MSAL_CLIENT_SECRET="<MSAL_CLIENT_SECRET>"
MSAL_TENANT_ID="<MSAL_TENANT_ID>"